<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0ZAN0Tw7UsZKxP5opX_lZWM_Nb4oZxzI</string>
	<key>GCM_SENDER_ID</key>
	<string>834529612881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heroGamesCase</string>
	<key>PROJECT_ID</key>
	<string>herogamescase</string>
	<key>STORAGE_BUCKET</key>
	<string>herogamescase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834529612881:ios:fbad74028c4dc2a6f61470</string>
</dict>
</plist>